
.vs/Chess_piece_problem/v15/Browse.VC.opendb
.vs/Chess_piece_problem/v15/.suo
.vs/Chess_piece_problem/v15/Browse.VC.db
.vs/Chess_piece_problem/v15/ipch/AutoPCH/82cc2a972adc82fe/SOLVER.ipch
.vs/Chess_piece_problem/v15/ipch/AutoPCH/c5b3d1eeb8af02f1/TABLE.ipch
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/CL.command.1.tlog
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/CL.read.1.tlog
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/CL.write.1.tlog
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/link.read.1.tlog
Chess_piece_problem/Debug/Chess_piece_problem.log
Chess_piece_problem/Debug/Main.obj
Chess_piece_problem/Debug/solver.obj
Chess_piece_problem/Debug/Table.obj
Chess_piece_problem/Debug/vc141.idb
Chess_piece_problem/Debug/vc141.pdb
Debug/Chess_piece_problem.exe
Debug/Chess_piece_problem.ilk
Debug/Chess_piece_problem.pdb
.vs/Chess_piece_problem/v15/.suo
.vs/Chess_piece_problem/v15/Browse.VC.db
.vs/Chess_piece_problem/v15/ipch/AutoPCH/82cc2a972adc82fe/SOLVER.ipch
.vs/Chess_piece_problem/v15/ipch/AutoPCH/c5b3d1eeb8af02f1/TABLE.ipch
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/CL.command.1.tlog
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/CL.read.1.tlog
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/CL.write.1.tlog
Chess_piece_problem/Debug/Chess_pi.4ACDF512.tlog/link.read.1.tlog
Chess_piece_problem/Debug/Chess_piece_problem.log
Chess_piece_problem/Debug/Main.obj
Chess_piece_problem/Debug/solver.obj
Chess_piece_problem/Debug/Table.obj
Chess_piece_problem/Debug/vc141.idb
Chess_piece_problem/Debug/vc141.pdb
*.db
*.ipch
*.tlog
*.log
*.obj
